body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgb(221, 220, 220);
  background-image: url(https://cdn.pixabay.com/photo/2016/04/30/13/12/sutterlin-1362879_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  // background: linear-gradient(135deg, #ffffff, #000000);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablets) {
    width: $tablets;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.general-ul {
  padding-left: 0;
  list-style: none;
}
.general-a {
  text-decoration: none;
}
// .general-
