.head {
  height: 100vh;

  background-image: linear-gradient(rgba(47, 48, 58, 0.082)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #2196f3;

  border-radius: 0 0 40px 40px;

  padding-left: 25px;
  padding-right: 25px;

  .menu-nav {
    display: flex;
  }
}

.list-nav:not(:last-child) {
  margin-right: 20px;
}
.link-nav {
  color: white;
  padding: 10px;
  background-color: #ff5722;
  border-radius: 30px;
}
.current-view {
}
