.card {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  .image-book {
    display: block;

    width: 250px;
    height: 350px;
  }
}
.info-block {
  width: 400px;
  margin-left: 30px;
  .head-book {
    margin: 0;
  }
  .paragraph-book {
    display: -webkit-box;
    margin: 0;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
}
